langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
fitz
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
langchain-ollama
streamlit
wikipedia
google-search-results
huggingface_hub
transformers
accelerate
bitsandbytes
langgraph
chatqroq